<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head></head>

<body>

<div style="padding:30px; border:1px solid;">
    <p>email = <span th:text="${invoice.email}"></span></p>
    <p>userId = <span th:text="${invoice.userId}"></span> </p>
    <p>payment status =  <span th:text="${invoice.paymentStatus}"></span></p>
    <p>type payment = <span th:text="${invoice.paymentCode}"></span></p>
    <p>
        <a style="padding:2px; border:1px solid;" th:href="@{/invoice/setsuccess/{id}(id=${invoiceId})}">оплатить</a>
    </p>
</div>


</body>
</html>